# for verify
args.js 
.env

# Foundry
cache/
cache-zk/

# JS
node_modules/
pvkey.js

# Hardhat files
cache_hardhat/
artifacts/
artifacts-zk/
tasks/

# Hardhat plugin files
typechain-types/

abi
build
